<mat-card class="example-card">
    <mat-card-header *ngIf="tipoPago == 'luz'">
        <span mat-card-avatar class="material-icons">
            electrical_services
        </span>
        <mat-card-title>Luz eléctrica</mat-card-title>
        <mat-card-subtitle>Pago de servicio básico.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-header *ngIf="tipoPago == 'agua'">
        <span mat-card-avatar class="material-icons">
            shower
        </span>
        <mat-card-title>Agua Potable</mat-card-title>
        <mat-card-subtitle>Pago de servicio básico.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div *ngIf="validation == ''">
            <p>
                El saldo adeudado en el medidor {{numeroMedidor}} es de {{mont}}
            </p>
        </div>
        <div *ngIf="validation != ''">
            <p>
                {{validation}}
            </p>
        </div>
    </mat-card-content>
    <mat-card-actions *ngIf="validation == ''">
        <button mat-button (click)="confirmarPago()">Pagar</button>
        <button mat-button mat-dialog-close>Salir</button>
    </mat-card-actions>
    <mat-card-actions *ngIf="validation != ''">
        <button mat-button mat-dialog-close>Salir</button>
    </mat-card-actions>
</mat-card>