<div class="container">
    <h2>{{title}}</h2>
    <form #creditCardListForm="ngForm" (ngSubmit)="getCreditCard()">
        <p>
            <label for="identification">Documento de Identificacion</label>
            <input type="text" name="identification" [(ngModel)]="identification" required>
        </p>
        <p>
            <label>Tipo de tarjeta</label>
            <select name="type" [(ngModel)]="type">
                <option value="4" selected>VISA
                    <img src="../../../../assets/visa.png" height="auto" alt="Visa" />
                </option>
                <option value="5">MASTERCARD
                    <img src="../../../../assets/mastercard.png" height="auto" alt="MasterCard" />
                </option>
            </select>
        </p>

        <input type="submit" value="Consultar">
    </form>
</div>


<ul>
    <li *ngFor="let creditCard of creditCards" class="creditCard">
        <mat-card class="card">
            <h2>
                <img src={{img}} height="20px" alt="LogoCreditCard" />
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> {{creditCard.number}}
            </h2>
            <p>Cuenta Asociada: {{creditCard.account}}</p>
            <p>Fecha de expiración: {{creditCard.expirationDate | date : "medium"}}</p>
            <p>Límite: {{creditCard.limitAccount}}</p>
            <p>Monto: {{creditCard.balanceAccount}}</p>
        </mat-card>
    </li>
</ul>