<div class="container">
    <h2>{{title}}</h2>
    <form #creditCardListForm="ngForm" (ngSubmit)="getCreditCard(creditCardListForm)">
        <p>
            <label for="identification">Documento de Identificacion</label>
            <input type="text" name="identification" [(ngModel)]="identification" required>
        </p>
        <p>
            <label>Tipo de tarjeta</label>
            <select name="type" [(ngModel)]="type">
                <option value="4" selected>VISA</option>
                <option value="5">MASTERCARD</option>
            </select>
        </p>

        <input type="submit" value="Consultar">
    </form>
</div>


<ul>
    <li *ngFor="let creditCard of creditCards" class="creditCard">
        <mat-card class="card">
            <h2>{{creditCard.number}}</h2>
            <p>Cuenta Asociada: {{creditCard.account}}</p>
            <p>Fecha de expiración: {{creditCard.expirationDate | date : "medium"}}</p>
            <p>Límite: {{creditCard.limitAccount}}</p>
            <p>Monto: {{creditCard.mont}}</p>
        </mat-card>
    </li>
</ul>