<div class="container">
    <h2>{{title}}</h2>

    <div class="message success" *ngIf="status == 'success'">
        La transaccion se ha realizado correctamente.
    </div>

    <div class="message failed" *ngIf="status == 'failed'">
        La transaccion se ha podido realizar.
    </div>
    <form #transactionForm="ngForm" (ngSubmit)="onSubmit(transactionForm)">

        <p>
            <label>Tipo de transaccion</label>
            <select name="type" #type="ngModel" [(ngModel)]="transaction.type">
                <option value="Deposito" selected>Depósito</option>
                <option value="Retiro">Retiro</option>
                <option value="Pago">Pago de servicios</option>
            </select>
        </p>
        <p *ngIf="transaction.type=='Pago'">
            <label>Tipo de pago</label>
            <select name="typeP" [(ngModel)]="typeP">
                <option value="luz" selected>Luz</option>
                <option value="agua">Agua</option>
                <option value="Internet">Internet</option>
            </select>
        </p>
        <p>
            <label for="identification" *ngIf="transaction.type=='Pago'">Teléfono convencional</label>
            <label for="identification" *ngIf="transaction.type!='Pago'">Documento de Identificacion</label>
            <input type="text" name="identification" #identification="ngModel" [(ngModel)]="transaction.identification" required>
            <span class="form-error" *ngIf="identification.touched && !identification.valid">*Campo obligatorio</span>
        </p>

        <p *ngIf="transaction.type!='Pago'">
            <label for="account">Número de cuenta del beneficiario</label>
            <input type="text" name="account" #account="ngModel" [(ngModel)]="transaction.account" required>
            <span class="form-error" *ngIf="account.touched && !account.valid">*Campo obligatorio</span>
        </p>

        <p>
            <label for="mont">Monto</label>
            <input type="number" name="mont" #mont="ngModel" [(ngModel)]="transaction.mont">
        </p>

        <input type="submit" value="Enviar" [disabled]="!transactionForm.form.valid || showT == 'success'">

        <div *ngIf="showT == 'success'">
            <input type="button" class="button" value="Nueva transaccion" (click)="newTransaction(transactionForm)">
        </div>
    </form>
    <div *ngIf="showT == 'success' || showT == 'successRetiro'">
        <mat-card class="transaction">
            <h2>
                <img src={{img}} height="27px" />
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>{{transaction.type}}
            </h2>
            <p>Fecha: {{transaction.creationDate | date : "medium"}}</p>
            <p>Cuenta: {{transaction.account}}</p>
            <p>Descripción: {{transaction.description}}</p>
            <p>Monto: {{transaction.mont}}</p>
        </mat-card>
    </div>
</div>