<div class="container">
    <h2>{{title}}</h2>
    <p class="spacer"></p>

    <div class="message success" *ngIf="status == 'success'">
        El cliente se ha registrado correctamente.
    </div>

    <div class="message failed" *ngIf="status == 'failed'">
        Ocurrió un error al registar el cliente.
    </div>

    <div class="message failed" *ngIf="validatorMensaje != ''">
        {{validatorMensaje}}
    </div>

    <form #clientForm="ngForm" (ngSubmit)="onSubmit(clientForm)">
        <p>
            <label for="identification">Documento de Identificacion</label>
            <input type="text" name="identification" #identification="ngModel" [(ngModel)]="client.identification" required>
            <input type="button" class="button" (click)="validator();" value="Validar" />
            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><img src={{img}} height="35px" />
            <span class="form-error" *ngIf="identification.touched && !identification.valid">*Campo obligatorio</span>
        </p>

        <p>
            <label for="email">Correo electrónico</label>
            <input type="email" name="email" #email="ngModel" [(ngModel)]="client.email" required>
        </p>
        <p class="spacer"></p>

        <div *ngIf="!isContributor">
            <h3><b>Dirección Domiciliaria</b></h3>
            <div class="message success" *ngIf="statusAddress == 'success'">
                Dirección agregada correctamente.
            </div>
            <form #addressForm="ngForm">
                <p>
                    <label for="type">Tipo</label>
                    <input type="text" name="type" #type="ngModel" [(ngModel)]="address.type" required>
                </p>
                <p>
                    <label for="mainStreet">Calle principal</label>
                    <input type="text" name="mainStreet" #mainStreet="ngModel" [(ngModel)]="address.mainStreet" required>
                </p>
                <p>
                    <label for="sideStreet">Calle secundaria</label>
                    <input type="text" name="sideStreet" #sideStreet="ngModel" [(ngModel)]="address.sideStreet" required>
                </p>
                <p>
                    <label for="number">Número</label>
                    <input type="text" name="number" #number="ngModel" [(ngModel)]="address.number">
                </p>
                <p>
                    <label for="reference">Referencia</label>
                    <input type="text" name="reference" #reference="ngModel" [(ngModel)]="address.reference">
                </p>
                <p>
                    <label for="province">Provincia</label>
                    <select name="province" #province="ngModel" [(ngModel)]="address.province" (change)='loadCantones($event.target.value)'>
                    <option *ngFor="let province of provinces" value="{{province.nombre}}">
                        {{province.nombre}}
                    </option>
                </select>
                </p>
                <p>
                    <label for="canton">Canton</label>
                    <select name="canton" #canton="ngModel" [(ngModel)]="address.canton" (change)='loadParish($event.target.value)'>
                    <option *ngFor="let canton of cantones" value="{{canton.nombre}}">
                        {{canton.nombre}}
                    </option>
                </select>
                </p>
                <p>
                    <label for="parish">Parroquia</label>
                    <select name="parish" #parish="ngModel" [(ngModel)]="address.parish">
                    <option *ngFor="let parro of parishes" value="{{parro.nombre}}">
                        {{parro.nombre}}
                    </option>
                </select>
                </p>
                <input type="button" class="button" (click)="addAddress(addressForm);" value="Agregar" [disabled]="!addressForm.form.valid" />
            </form>
        </div>

        <p class="spacer"></p>
        <h3><b>Números de contacto</b></h3>
        <div class="message success" *ngIf="statusPhone == 'success'">
            Teléfono agregado correctamente.
        </div>
        <form #phoneForm="ngForm">
            <p>
                <label for="type">Tipo</label>
                <input type="text" name="type" #type="ngModel" [(ngModel)]="phone.type" required>
            </p>
            <p>
                <label for="value">Número</label>
                <input type="text" name="value" #value="ngModel" [(ngModel)]="phone.value" required>
            </p>
            <input type="button" class="button" (click)="addPhones(phoneForm);" value="Agregar" [disabled]="!phoneForm.form.valid" />
        </form>


        <p class="spacer"></p>
        <input type="submit" value="Enviar" [disabled]="validatorMensaje!='' || !clientForm.form.valid" style="margin-left: 50%;">
    </form>
</div>