<div class="container">
    <h2>{{title}}</h2>
    <form #transactionListForm="ngForm" (ngSubmit)="getTransactions()">
        <p>
            <label for="identification" *ngIf="type!='Pago'">Documento de identificación</label>
            <label for="identification" *ngIf="type=='Pago'">Pago identificador</label>
            <input type="text" name="identification" [(ngModel)]="identification" required>
        </p>

        <p>
            <label for="limit">Número de transacciones</label>
            <input type="number" name="limit" [(ngModel)]="limit">
        </p>

        <p>
            <label>Tipo de transacción</label>
            <select name="type" [(ngModel)]="type">
                <option value="all" selected>Todas</option>
                <option value="Deposito">Depósito</option>
                <option value="Retiro">Retiro</option>
                <option value="Pago">Pago de servicios</option>
            </select>
        </p>

        <input type="submit" value="Consultar">
    </form>
</div>

<ul>
    <li *ngFor="let transaction of transactions" class="transaction">
        <mat-card>
            <h2>{{transaction.creationDate | date : "medium"}}</h2>
            <p>Cuenta: {{transaction.account}}</p>
            <p>Tipo: {{transaction.type}}</p>
            <p>Descripción: {{transaction.description}}</p>
            <p>Monto: {{transaction.mont}}</p>
        </mat-card>
    </li>
</ul>